{% extends "productos/base.html" %}

{% block body %}
  <h3 class="text-center m-4">Actualizar Producto</h3>
  {% if success %}
    <div class="alert alert-success" role="alert">
      El producto ha sido actualizado exitosamente.
      <a href="{% url 'index' %}" class="alert-link">Ir A Pagina Principal.</a>
    </div>
  {% else %}
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card bg-light mb-3">
          <div class="card-header">
            <i class="fa-solid fa-pen-to-square fa-lg"></i> Actualizar Producto
          </div>
          <div class="card-body">
            <form action="" method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Actualizar</button>
              <a href="{% url 'index' %}" class="btn btn-secondary">Cancelar</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}